* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

.card_remaining {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

.cards-1 {
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-between;
}

.man-pic {
    width: 100%;
}


/* .man-pic img {
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    border: 1px black solid;
} */

.art {
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    border: 1px black solid;
}

.man-post-social {
    width: 100%;
    text-align: center;
}

.man-post-social p {
    font-size: 1rem;
    margin-bottom: 0;
}

.web {
    background-color: #E8EEF2;
    padding-bottom: 2rem;
}

.web-title {
    margin-top: 5rem;
    padding-top: 1rem;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    color: #00446f;
    margin-bottom: 1rem;
}

.horizontal hr {
    width: 15%;
    margin: auto;
}

.adjust_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 210px;
}

.web-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

.card-3 {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.card-4 {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.design {
    background-color: #ddf5fe;
    padding-bottom: 2rem;
}

.design-title {
    text-align: center;
    padding: 2rem;
    font-family: Montserrat;
    font-size: 1rem;
    color: #00446f;
}

.legal {
    background-color: #d8e6eb;
    padding-bottom: 2rem;
}

.legal-title {
    text-align: center;
    padding-top: 2rem;
    font-family: Montserrat;
    font-size: 1rem;
    color: #00446f;
}

@media (max-width: 789px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card_remaining {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .web-main {
        display: flex;
        flex-direction: column;
    }
    .cards-1,
    .cards-4 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }
    .cards-3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }
    .cards-1 .man-pic {
        text-align: center;
    }
    .man-1>.man-pic>img {
        width: 30vw;
    }
    .man-2>.man-pic>img {
        width: 30vw;
    }
    .man-3 .man-pic {
        text-align: center;
    }
    .man-3 .man-pic img {
        width: 30vw;
    }
    .card-3 .man-pic {
        text-align: center;
    }
    .card-4 .man-pic {
        text-align: center;
    }
    .man-4>.man-pic>img {
        width: 30vw;
    }
    .man-5>.man-pic>img {
        width: 30vw;
    }
    .man-6>.man-pic>img {
        width: 30vw;
    }
    .man-7>.man-pic>img {
        width: 30vw;
    }
    .adjust_div {
        gap: 15%;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}